/* Nav CSS Start */
.navBody{
    background: black;
    display: flex;
    justify-content: space-around;
    padding: 20px 139px;
    position: fixed;
    width: 84%;
}
.navS{
    width: 50%;
    display: flex;
    justify-content: start;
    gap: 64px;
    font-weight: bold;
    font-size: 14px;
}

.navS>a{
    align-content: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.navE{
    width: 50%;
    display: flex;
    justify-content: end;
    gap: 27px;
}
.navE>button{
    cursor: pointer;
}

.ham{
    background: black;
    color: white;
    font-weight: bold;
    font-size: 31px;
    border: 0;
}
.BookOla{
    background: rgba(255, 255, 255, 0.17);
    color: white;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    padding: 14px;
}
/* Nav CSS End */
/* Banner CSS Start */
.bannerC>img{
    width: 100%;
    height: 420px;
}
.bannerC{
    height: 480px;
}

.bannerC>span{
    position: relative;
    font-size: 48px;
    color: white;
    bottom: 290px;
    left: 350px;
    font-weight:600;
}
.scooter>img{
    cursor: pointer;
    width: 70%;
}
.scooter{
    display: flex;
    justify-content: center;
}
/* Banner CSS End */
/* Comm CSS Start */
.mobility{
    text-align: center;
    font-size: 22px;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
   margin-bottom: 75px;
}
.Com{
    margin-top: 100px;
}
.ComGrid{
    display: flex;
    justify-content: center;
    gap: 9%;
}
.firstG{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}
.firstG>img{
    width: 140px;
    height: 140px;
}
.firstG>h2{
    font-weight: 700px;
    font-size: 36px;
    margin-top: -15px;
}
.firstG>h3{
    font-size: 28px;
    margin-top: -21px;
    font-weight: 500;
}
.firstG>h4{
    color: grey;
    font-weight: 500;
    margin-top: -5px;
}
/* Com End */
/* Ride CSS Start */
.ride{
    display: flex;
    flex-direction: column;
        margin-right: 14%;
        margin-left: 14%;
        margin-top: 8%;
}
.rideh1>h1{
    font-size: 38px;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
   margin-bottom: 75px;
}
.busGrids{
    display: flex;
    
    gap: 9%;
}
.bus{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bus{
    width: 302px;
}
.bus>img{
    width: 302px;
    height: 222px;
}
.bus>p{
    margin: 0;
    color: #5f5f5f;
    font-weight: 500;
}
.Video{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 9%;
}
.gif>img{
   width: 73%;
}
.gifStext>h1{
    padding-top: 59px;
    font-size: 40px;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
}
.gifStext>div>h3{
    font-size: 25px;
    font-weight: 600;
    padding-left: 15px;
}
.gifStext>div{
    width: 391px;
}
.gifStext>div>p{
    margin: 0;
    padding: 0;
    padding-left: 15px;
    font-size: 18px;
}
.gifStext>div{
    border-left: 3px solid green;
}
/* Ride CSS End */
/* Postpaid CSS Start */
.postpaid{
    background: rgb(242, 246, 232);
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 2%;
}
.postpaid>h1{
    font-size: 48px;
    line-height: 48px;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
    margin-bottom: 55px;
}
.postImg>img{
    width: 592;
    height: 351px;
    border-radius: 20px;
}
.postpaidM{
    display: flex;
    gap: 6%;
}
.users>p:nth-child(1){
    font-size: 25px;
    margin: 0;
}
.users>p:nth-child(2){
    font-weight: 600;
    font-size: 22px;
}
.users>p>span{
    font-size: 14px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    color: #16AA51;
    background: rgba(22, 170, 81, 0.1);
}
.users>div>div{
    display: flex;
    align-items: center;
}
.users>div:nth-child(2){
    display: block;
}
.users>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.users>div>div:nth-child(2){
    margin-left: 25px;
}


.imglogo{
    width: 54px;
    overflow: hidden;
}
.flaticon{
    width: 39px;
}
.Ins{
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 75px;
}
.Ins>div:nth-child(2)>img{
    width: 188;
    height: 186px;
    border-radius: 20px;
}
.Ins>div:nth-child(2){
    display: flex;
    gap: 0 50px;
}
.Ins>div>h3{
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    line-height: 40px;
}
.Ins>div>h2{
    font-size: 23px;
    font-weight: 600;
    margin: 0;
}
.Ins>div>h4{
    color: #16AA51;
    font-size: 20px;
    font-weight: 700;
    margin-top: 56px;
}
/* Postpaid CSS End */
/* Diff CSS Start */
.mainDiff{
    margin-left: 13%;
    margin-right: 13%;
}
.mainDiff>h1{
    font-size: 48px;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
}
.mainDiff>div>p{
    width: 48%;
    color: #5c5c5c;
    font-weight: 500;
}
.Diff1{
    display: flex;
    gap: 7%;
    margin-bottom:20px
}
.Diff1>div{
    width: 150px;
}
.Diff1>div>p{
    font-size: 15px;
    color: #5c5c5c;
    font-weight: 500;
}
.Diff1>div>h3{
    font-size: 23px;
    margin: 0;
    font-weight: 600;
}
.Diff2>div:nth-child(1){
   display: flex;
   flex-direction: column;
   gap: 14px;
}
.Diff2>div:nth-child(1)>img{
    width: 560px;
    height: 277px;
}
.Diff2{
    display: flex;
    gap: 14px;
}
.Diff2>div:nth-child(2){
    width: 547px;
    height: 569px;
 }
 .Diff2>div:nth-child(2)>img{
    width: 100%;
 }
.mainDiff>h3{
    color: #16AA51;
    font-size: 20px;
    font-weight: 700;
}
/* Css End */
/* Food CSS Start */
.mainFood>h1{
    font-size: 48px;
    line-height: 48px;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
}
.mainFood{
    margin-left: 13%;
    margin-top: 15%;
    margin-right: 13%;
}
.Food1>h3{
   font-size: 23px;
   font-weight: 400;
   margin-top: 0;
}
.Food1>p{
    font-size: 23px;
    font-weight: 500;
}
.Food1>h4{
    color: #16AA51;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
}
.Food1{
    margin-top: 75px;
}
.mainFood>div{
    display: flex;
    gap: 18%;
}
.Food2{
    display: flex;
    gap: 9%;
    margin-top: 75px;
}
.Food2>img{
    width: 188px;
    border-radius: 20px;
    height: 272px;
}
.mainFood>p{
    text-align: end;
    padding-right: 4%;
    color: grey;
    font-size: 14px;
}
/* Food End */
.mainBlogs>h1{
    font-size: 48px;
    line-height: 48px;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
}
.mainBlogs{
    background: rgb(242, 246, 232);
    padding-left: 13%;
    padding-top: 5%;
    margin-top: 5%;
    padding-right: 13%;
    padding-bottom: 5%;
}
.mainBlogs>div>div>img{
    width: 358px;
    height: 272px;
    border-radius: 20px;
}
.mainBlogs>div>div{
    margin-top: 75px;
}
.mainBlogs>div>div>p{
    color: #16AA51;
    font-size: 15px;
    font-weight: 700;
}
.mainBlogs>div>div>h3{
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}
.mainBlogs>div{
    display: flex;
    gap: 50px;
}
/* End */
/* Download CSS Start */
.mainDown>h1{
    font-size: 48px;
    line-height: 48px;
    text-shadow: 1.152px 1.152px 0 #fff, 1.728px 1.728px 0 #92c83e;
}
.mainDown{
    margin: 8% 13% 4% 13%;
}
.Down1{
 display: flex;  
 gap: 80px;
 margin-top: 75px;
}
.Down1>div{
    padding: 32px;
    background: radial-gradient(100% 100% at 28.66% 0%, #F9FCF4 0%, #E0E6D8 100%); 
    width: 320px;
    height: 275px;
    cursor: pointer;
}
.Down1>div>div{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    margin-top: 103px;
}
.Down1>div>p{
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, .64);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}
.Down1>div:nth-child(2)>img{
    border-radius: 20px;
}
/* CSS ENd */
/* Footer CSS */
.mainFoot{
    padding:5% 13% 4% 15%;
    display: flex;
    background: rgb(242, 246, 232);
    justify-content: start;
    gap: 9%;
    margin-top: 150px;

}
.Footlogos{
    margin-top: 15px;
    display: flex;
    gap: 25px;
}
.FooterP{
    width: 95px;
}
.FooterP>p{
    font-size: 15px;
    font-weight: 500;
}
